<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
body {
    padding-top: 10px; /* change the top of the page white space up*/
    margin: 0;
    overflow-x: hidden;
}
<<<<<<< HEAD
=======
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar main extra"
    "footer footer footer";
    gap: 1rem;
    background-color: red;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    font-size: var(--font-medium);
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;

}
<<<<<<< HEAD
=======
=======
    /* font-family: Arial, sans-serif; */
    font-size: var(--font-medium);
    margin: 0;
    padding: 0;
    font-weight: bold;
    overflow-x: hidden;
    width: 100%;

}
/* * {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
} */
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f

/*HEADER*/

header{
    display: flex;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 0px;
<<<<<<< HEAD
=======
=======
    justify-content: left;
    align-items: center;
    grid-area: header;
    padding: 10px;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    background-color: brown;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
    

}
header nav{
<<<<<<< HEAD
=======
=======
    
}
header nav{
    /*position: fixed;*/
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    top: 0;
    right: 0;
    padding: 15px 20px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

/* h1 h2 h3 {
    font-family: 'Bush Script MT';
    font: bold;
    font-style: 'cursive';
} */
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
header h1{
    text-align: left;
}
#logo{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    display: flex;
    position: absolute;
    left: 10%;  /* change to move the logo */
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    
}

/*The list (Home.. categorise.. cart) in header */
<<<<<<< HEAD
=======
=======
    width: 100px;
    height: 100px;
    border-radius: 8px;
    padding: 10px;
}

/*NAVIGATION*/
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin: 0;
<<<<<<< HEAD
    padding: 0px;
=======
<<<<<<< HEAD
    padding: 0px;
=======
    padding: 0;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    
    
}
nav li{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    display: flex;
    gap: 10px;
    margin: 10px;

<<<<<<< HEAD
=======
=======
    gap: 10px;
    margin: 10px;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    
}

nav a {
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(176, 244, 6);
}

h1 {
<<<<<<< HEAD
    display: flex;
    justify-content: center; /* move title to center*/
=======
<<<<<<< HEAD
    display: flex;
    justify-content: center; /* move title to center*/
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
    
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
h2{
    color: white; /*Categories font color*/
}
/*aside*/
.sidebar {
    /*grid-area: sidebar;*/
    width: 150px; /* Sidebar width */
    height: 100;
    background: linear-gradient(to left, red, orange);
    padding: 50px;
    border-radius: 0.5rem;
    
    /*top: 250px; remove these steps when using position: fixed asidebar header*/
    left: 0;
    width: 100%;
    /*z-index: 100; remove these steps when using position: fixed header*/
    
}
.Categories{
    display: flex;
    flex-direction: column; /* list under Categorise*/
<<<<<<< HEAD
=======
=======
/*aside*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: White;
    grid-area: sidebar;
    position: relative;
    background: linear-gradient(to left, red, orange);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 280px;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
}

/*BOOK-Part*/

.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
<<<<<<< HEAD
    /*padding-left: 250px; only when using position: fixed; asidebae*/
=======
<<<<<<< HEAD
    /*padding-left: 250px; only when using position: fixed; asidebae*/
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    width: 250px;
    background: white;
    background-color: white;
    border-radius: 8px;
    
}
.book:hover{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    box-shadow: 0 8px 15px rgba(3, 50, 240, 0.556);
    transform: scale(1.09); /* make it pop */
    transition: 0.1s;

}

/*.heighlight, .author{
    background-color: yellow;
    font-weight: bold;
}*/
<<<<<<< HEAD
=======
=======
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 3px yellowgreen;

}
.heighlight{
    background-color: yellow;
    font-weight: bold;
}
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
.books img{
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    margin-left: 0;
    margin-right: 0;
}

/*BOOK-BUTTONS*/

button{
    background: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    border-radius: 10%; /* change here to make buttons runda*/

}
button:hover{
    text-decoration: underline;
    background-color: transparent;
    color: black;
    box-shadow: 3px 3px 3px 3px rgb(186, 149, 149);
}
.books button:hover{
    text-decoration: underline;
    background:transparent;
    color: black;
    box-shadow: 3px 3px 3px 3px rgb(186, 149, 149);
<<<<<<< HEAD
=======
=======
    border-radius: 50%;

}
.books button:hover{
    text-decoration: underline;
    background:gray;
    color: white;
    box-shadow: 3px 3px 3px 3px red;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
}
.filter-section{
    grid-area: main;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
<<<<<<< HEAD
    margin-right: 50px;
    /*padding-left: 300px; active only when position:fixed; the sidebar*/
=======
<<<<<<< HEAD
    margin-right: 50px;
    /*padding-left: 300px; active only when position:fixed; the sidebar*/
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
}
.filter-category h2{
    text-align: center;
    color: black;
    margin-bottom: 15px;
}
.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.book-grid .book{
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
<<<<<<< HEAD
.book-card h2{ /* title (All Books) in the top*/
=======
<<<<<<< HEAD
.book-card h2{ /* title (All Books) in the top*/
=======
.book-card h2{
    display: flex;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    color: white;
}

/*CART*/

.cart{
    grid-area: main;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
    box-shadow: var(--box-shadow);
    font-weight: bold;

}
.cart:hover{
    box-shadow: 5px 5px 5px 5px rgb(186, 5, 5);
}
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
.cart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f

.cart-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    
}

.cart-item img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    margin-right: 1rem;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
.cart-item img:hover{
    box-shadow: 0 8px 15px rgba(242, 5, 5, 0.5);
    transform: scale(1.09); /* make it pop */
    transition: 0.1s;
}
<<<<<<< HEAD
=======
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f

/*REMOVE-BUTTON*/

.remove-btn {
    color: white;
<<<<<<< HEAD
    padding: 10px;
=======
<<<<<<< HEAD
    padding: 10px;
=======
    padding: 10px 15px;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    font-size: 14px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    height: auto;
    font-weight: bold;
}
.remove-btn-1{
    background-color: red;
    color: white;
<<<<<<< HEAD

=======
<<<<<<< HEAD

=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    height: auto;
    font-weight: bold;

}
.remove-btn-2{
<<<<<<< HEAD
    background-color: red;
=======
<<<<<<< HEAD
    background-color: red;
=======
    background-color: green;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    height: auto;
    font-weight: bold;

}

<<<<<<< HEAD
.remove-btn-1:hover, .remove-btn-2:hover {
    background-color: rgba(0, 0, 0, 0.1); /* transparent */
=======
<<<<<<< HEAD
.remove-btn-1:hover, .remove-btn-2:hover {
    background-color: rgba(0, 0, 0, 0.1); /* transparent */
=======


.remove-btn-1:hover{
    text-decoration: underline;
    background: #a34040;
    box-shadow: 3px 3px 3px 3px yellowgreen;
}
.remove-btn-2:hover{
    text-decoration: underline;
    background: #a34040;
    box-shadow: 3px 3px 3px 3px yellowgreen;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
}
.total-price {
    background-color: gray; 
    color: white;
    text-align: right;
    border: none;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 1rem;
}

.book-cover{
    width: 80px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
.book-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.book-tittle{
    font-weight: bold;
    font-size: 16px;
}
.book-price{
    color: black;
    font-size: 16px;
}
.quantity{
    width: 40px;
    padding: 5px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}

.main{
    border-radius: 0.5rem;
    gap: 5rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    color: white;
    flex: 1;
    padding: 100px;
    width: 100px;
    background: white;
    text-align: center;
    
    
<<<<<<< HEAD
=======
=======
    background: lightgray;
    color: white;
    padding: 2%;
    text-align: center;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
<<<<<<< HEAD
    padding: 30x;
=======
<<<<<<< HEAD
    padding: 30x;
=======
    padding: 10px;
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    background-color: brown;
    color: rgba(244, 245, 238, 0.61);
    width: 100%;
    
}
input{
<<<<<<< HEAD
    background-color: ghostwhite;
=======
<<<<<<< HEAD
    background-color: ghostwhite;
=======
    background-color: yellow
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
    
}

@media (max-width:1024px) {
    .container{
        display: grid;
        grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
        overflow-x: hidden;
        gap: 10px;
        margin: 0 auto;
        width: 100%;
    }
        /* Adjust book layout for smaller screens */

    .books {
        grid-template-columns: 1fr;
        width: 100%;
    }
    /* Adjust header layout */
    header{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    header h1{
        text-align: center;
    }
    h2{
        padding: 20px;
    }
    #logo{
        justify-content: center;
    }
    nav{
        grid-area: nav;
        position: relative;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .sidebar{
<<<<<<< HEAD
        grid: sidebar;
=======
<<<<<<< HEAD
        grid: sidebar;
=======
>>>>>>> ede0bf4c68ca1d4a76e1bca0d7d0600a3a26f311
>>>>>>> 110c0a44ef2b83389f81d9776132cd6cb1f7405f
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 3;
        gap: 10px;
        background: linear-gradient(to left, red, orange);
        border-radius: 0.5rem;
        flex-wrap: wrap;
        width: auto;
        padding: 10px;
        text-align: center;
    }
    .Categories{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    .Categories div{
        flex: 1;
        text-align: center;
        padding: 5px;
    }
    .books{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
    }
    .book{
        width: 100%;
        max-width: 350px;
        text-align: center;
        background: white;
        padding: 0px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .book:hover{
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    /* Adjust shopping cart layout */
    .cart{
        text-align: center;
        margin: 0 auto;
    }
    .cart-item{
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .cart-grid{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    /* Responsive cart item images */
    .cart-item img {
        width: 100%;
        max-width: 250px;
        height: auto;
    }
    .remove-btn {
        width: auto;
        max-width: 200px;


    }
    footer {
        text-align: center;
        padding: 15px;
    }

}
